/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/storage

/database/migrations/2023_01_28_081921_create_meetings_table.php
/app/Models/Meeting.php
/app/Http/Controllers/MeetingController.php
/app/Models/MeetingParticipant.php
